Repository Seneca-CDOT/Osteppy: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{json,css,scss,html,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix"]
}

refactor: move UserEodService to UsersService
  src/users/user_eods.service.spec.ts
  src/users/user_eods.service.ts
  src/users/users.controller.ts
  src/users/users.module.ts
  src/users/users.service.spec.ts
  src/users/users.service.ts
Due: eslint --fix

fix: reverse package.json to #b9eef8a3 due to typescript performance issue
  package-lock.json
  package.json
Due: prettier --write

feat: use mongoose projection in UsersService
  src/users/users.service.ts
Due: eslint --fix

fix: remove unused /dev endpoint
  src/dev/dev.controller.ts
  src/dev/dev.module.ts
  src/dev/dev.service.ts
Due: eslint --fix

feat: add /slack/eods endpoint
  env.example
  package-lock.json
  package.json
  src/app.module.ts
  src/authentication.guard.ts
  src/configuration.ts
  src/dto/slack_block_divider.dto.ts
  src/dto/slack_block_section.dto.ts
  src/dto/slack_request.dto.ts
  src/dto/slack_response.dto.ts
  src/dto/slack_text_object.dto.ts
  src/eod/eod.controller.ts
  src/eod/eod.module.ts
  src/eod/eod.service.ts
  src/slack/slack.guard.ts
  src/slack/slack.module.ts
  src/slack/slack.service.ts
  src/slack/slack_eods.controller.ts
  src/slack/slack_eods.service.spec.ts
  src/slack/slack_eods.service.ts
  src/slack/slack_request.dts.ts
  src/users/schemas/eod_slack_post.schema.ts
  src/users/schemas/user.schema.ts
  src/users/users.service.spec.ts
  src/users/users.service.ts
Due: prettier --write, eslint --fix

fix: fail to parse EOD Slack emoji with hyphens
  src/slack/slack_eods.service.spec.ts
  src/slack/slack_eods.service.ts
Due: eslint --fix

feat: add message for when EOD has no tasks
  src/slack/slack_eods.service.ts
Due: eslint --fix

feat: add EOD archiving scheduler
  src/app.module.ts
  src/main.ts
  src/slack/slack_eods.controller.ts
  src/users/users.controller.ts
  src/users/users.module.ts
  src/users/users.service.spec.ts
  src/users/users.service.ts
  src/users/users_eods.service.spec.ts
  src/users/users_eods.service.ts
Due: eslint --fix

feat: add DevelopnentModeGuard
  package.json
  src/configuration.ts
  src/development_mode.guard.ts
  src/users/users.controller.ts
Due: prettier --write, eslint --fix

fix: issue Slack bot post to private channels
  src/slack/slack_eods.service.ts
Due: eslint --fix

fix: remove empty file
  test/users/users.service.ts
Due: eslint --fix

fix: wrong naming
  src/slack/slack_eods.service.ts
  src/users/users.service.ts
  src/users/users_eods.service.ts
Due: eslint --fix

fix: missing environment variable
  production.yml
Due: none

chore: add unit testing to the current ci
  .github/workflows/ci.yml
  .github/workflows/run_linter.yml
Due: none

feat: initial commit for the port checking feature
  src/app.module.ts
  src/system/system.controller.ts
  src/system/system.module.ts
  src/system/system.service.ts
Due: eslint --fix

feat: add endpoints Slack push & pop EOD tasks
  src/slack/slack_eods.controller.ts
  src/slack/slack_eods.service.ts
Due: eslint --fix

fix: remove unnecessary comments and use slackguard
  src/system/system.controller.ts
  src/system/system.module.ts
Due: eslint --fix

fix: issue when number of pop tasks larger than tasks length
  src/users/users.service.ts
Due: eslint --fix

fix: cannot remove EOD task list starting with dash
  src/slack/slack_eods.service.ts
Due: eslint --fix

feat: add port checking
  package-lock.json
  package.json
  src/main.ts
  src/system/system.controller.ts
  src/system/system.module.ts
  src/system/system.service.ts
  src/system/system_domains.dts.ts
  src/system/system_services.dts.ts
Due: prettier --write, eslint --fix

test: add domain example for testing
  config_files/domains.example.json
Due: prettier --write

refactor: add env var for the channel where port related messages will be sent
  env.example
  src/configuration.ts
Due: eslint --fix

refactor: add a formatter to the system service for unregistered port messages
  src/system/system.service.ts
Due: eslint --fix

docs: add document for UsersModule
  src/users/README.md
Due: prettier --write

docs: fix relative link
  src/users/README.md
Due: prettier --write

docs: add request body descriptions
  src/users/README.md
Due: prettier --write

refactor: add an env var for the file where domains are stored
  env.example
  src/configuration.ts
Due: eslint --fix

refactor: change the endpoint name and the guard for development
  src/system/system.controller.ts
Due: eslint --fix

refactor: improve loading port data from file and formatting
  src/system/system.service.ts
Due: eslint --fix

refactor: rename type files
  src/system/system_domains.d.ts
  src/system/system_domains.dts.ts
  src/system/system_services.d.ts
Due: eslint --fix

test: add tests for static members in system service
  src/system/system.service.spec.ts
Due: eslint --fix

refactor: convert non exportable members to static
  src/system/system.service.ts
Due: eslint --fix

fix: typo in env var names
  env.example
Due: none

refactor: switch from node-schedule to nestjs/schedule
  src/app.module.ts
  src/main.ts
  src/system/system.service.ts
  src/users/users_eods.service.ts
Due: eslint --fix

chore: install nestjs/schedule and types
  package-lock.json
  package.json
Due: prettier --write

refactor: remove unused properties
  src/system/system.service.ts
  src/users/users_eods.service.ts
Due: eslint --fix

fix: add copying config files into osteppy container in production
  Dockerfile
Due: none

refactor: switch to -Pn option for nmap
  src/system/system.service.ts
Due: eslint --fix

feat: add portainer-ce
  .gitignore
  production.yml
Due: none

fix: .dockerignore not including portainer data folder
  .dockerignore
Due: none
