Repository Seneca-CDOT/Osteppy: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

.lintstagedrc.json:

{
  "*.{json,css,scss,html,md}": ["prettier --write"],
  "*.{js,ts}": ["npm run lint:fix"]
}

docs: fix typo
  README.md
Due: prettier --write

docs: include port check interval
  README.md
Due: prettier --write

feat(systems): auto load registered open ports
  src/system/system.service.ts
Due: npm run lint:fix

Update README.md
  README.md
Due: prettier --write

docs: add two ways of updating domains config
  README.md
Due: prettier --write

docs: update to reflect `New Osteppy` (#107)
  README.md
  src/system/system.service.ts
Due: prettier --write, npm run lint:fix
