Repository Seneca-CDOT/Osteppy: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

fix: remove unused var and type
  src/slack/slack_system.service.ts
Due: npm run lint:fix

feat: add list-ports command to list all the registered ports
  src/slack/slack.module.ts
  src/slack/slack_system.controller.ts
  src/slack/slack_system.service.ts
Due: npm run lint:fix

Add /list-ports command (#80)
  src/slack/slack.module.ts
  src/slack/slack_system.controller.ts
  src/slack/slack_system.service.ts
Due: npm run lint:fix

chore: update Nestjs dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: wrong controller name
  src/slack/slack_system.controller.ts
Due: npm run lint:fix

fix: wrong gitignore config files path
  .gitignore
Due: none

feat: add mongo express in development
  development.yml
  docker-compose.yml
Due: none

fix: indentation in development.yml
  development.yml
Due: none

fix: remove unused environment variable
  development.yml
Due: none

refactor: switch to fetching from database instead of file for system actions
  src/slack/slack.module.ts
  src/slack/slack_system.service.ts
  src/system/schemas/domain.schema.ts
  src/system/schemas/service.schema.ts
  src/system/system.controller.ts
  src/system/system.module.ts
  src/system/system.service.ts
  src/system/system_domains.ts
  src/system/system_services.ts
Due: npm run lint:fix

test: fix test for formatMessage
  src/slack/slack_system.service.ts
  src/system/system.service.spec.ts
  src/system/system.service.ts
Due: npm run lint:fix

refactor: merge formatList and formattedMessage
  src/system/system.service.ts
Due: npm run lint:fix

test: add new test for the changes made to the message formatter
  src/system/system.service.spec.ts
Due: npm run lint:fix

fix: missing env vars
  production.yml
Due: none

fix: eslint should not includes portainer folder
  .eslintignore
Due: none

feat: add tagging for port check message
  src/system/system.service.ts
Due: npm run lint:fix

fix: listing port should not do tagging
  src/system/system.service.ts
Due: npm run lint:fix

test: update tests for port check
  src/system/system.service.spec.ts
Due: npm run lint:fix

fix: use specific mongodb docker image
  .dockerignore
  development.yml
Due: none

fix(system): duplicate domains when load
  src/system/system.controller.ts
  src/system/system.service.ts
Due: npm run lint:fix

fix(test): use specific mongo-memory-server
  package.json
Due: prettier --write

docs: update to reflect `New Osteppy`
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,css,scss,html,md}
  npm run lint:fix: any of: *.{js,ts}
