Repository Seneca-CDOT/Osteppy: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: use the old README file
  README.md
Due: prettier --write

chore: add docker deployment
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: none

chore: install airbnb eslint config
  package-lock.json
  package.json
Due: prettier --write

chore: extend eslint config with airbnb-base
  .eslintrc.json
Due: prettier --write

chore: allow imports without extensions
  .eslintrc.json
Due: prettier --write

chore: config linting rules
  .eslintrc.json
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/main.ts
Due: prettier --write, eslint --fix

chore: enable linting rule no-explicit-any
  .eslintrc.json
Due: prettier --write

chore: enable linting rule explicit-function-return-type
  .eslintrc.json
Due: prettier --write

chore: config linting scripts
  .lintstagedrc.json
  package.json
Due: prettier --write

ci: add config file for GitHub Actions
  .github/workflows/run_linter.yml
Due: none

feat: add Mogoose using nestjs dedicated package
  package-lock.json
  package.json
  src/Users/dto/create-user.dto.ts
  src/Users/schemas/user.schema.ts
  src/Users/users.service.ts
  src/app.module.ts
Due: prettier --write, eslint --fix

refactor: fix linting errors
  src/Users/dto/create-user.dto.ts
  src/Users/schemas/user.schema.ts
  src/Users/users.service.ts
  src/app.module.ts
Due: eslint --fix

feat: add mongo container to docker workflow
  docker-compose.yml
Due: none

refactor: add osteppy_data to .gitignore
  .gitignore
Due: none

feat: env template for ostepyp .env vars
  env.example
Due: none

feat: add @nestjs/config module to use .env files
  package-lock.json
  package.json
  src/app.module.ts
  src/main.ts
Due: prettier --write, eslint --fix

refactor: add osteppy_data to eslintignore
  .eslintignore
  .gitignore
Due: none

refactor: fix format errors
  src/Users/users.service.ts
  src/main.ts
Due: eslint --fix

chore: remove node types
  package-lock.json
  package.json
Due: prettier --write

refactor: fix problem destructuring .env var
  src/main.ts
Due: eslint --fix

fix: add osteppy_data to dockerignore to avoid persmission problems
  .dockerignore
Due: none

fix vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

refactor: allow connectingto mongo as localhost or inside docker
  src/app.module.ts
Due: eslint --fix

refactor: add different docker config files depending on deployment type
  development.yml
  docker-compose.yml
  env.example
  production.yml
Due: none

chore: enable prettier as eslint rules
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

feat: enable eslint for test files
  .eslintignore
  .eslintrc.json
  test/app.e2e-spec.ts
Due: prettier --write, eslint --fix

fix: remove npm script that is now unused
  package.json
Due: prettier --write

style: adjust to newly enabled prettier rules
  src/Users/users.service.ts
Due: eslint --fix

fix: linter error about eol on windows
  .eslintrc.json
Due: prettier --write

feat: keep raw body in command request
  package.json
  src/app.module.ts
  src/body_parser.middleware.ts
  src/main.ts
Due: prettier --write, eslint --fix

fix: eslint error importing declaration file
  .eslintrc.json
Due: prettier --write

feat: add slack command guard
  env.example
  src/app.module.ts
  src/authentication.guard.ts
  src/types/slack.d.ts
Due: eslint --fix

feat: disable eslint camelcase due to slack command requests
  .eslintrc.json
  src/types/slack.d.ts
Due: prettier --write, eslint --fix

feat: add guard for Slack workspace
  env.example
  src/authentication.guard.ts
Due: eslint --fix

feat: init root post route
  src/app.controller.ts
Due: eslint --fix

feat: use dto instead of type for Slack request
  src/authentication.guard.ts
  src/dto/slack_request.dto.ts
  src/dto/slack_request_body.dto.ts
  src/types/slack.d.ts
Due: eslint --fix

feat: disable eslint class-method-use-this
  .eslintrc.json
  src/app.module.ts
Due: prettier --write, eslint --fix

fix: authentication guard not work on nested routes
  src/app.controller.ts
  src/authentication.guard.ts
  src/main.ts
Due: eslint --fix

refactor: combine slack request & body dto
  src/dto/slack_request.dto.ts
  src/dto/slack_request_body.dto.ts
Due: eslint --fix

feat: add go-to-endpoint route to support development
  package.json
  src/app.module.ts
  src/dev/dev.controller.ts
  src/dev/dev.module.ts
  src/dev/dev.service.ts
  src/dto/slack_request.dto.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{json,css,scss,html,md}
  eslint --fix: any of: *.{js,ts}
