Repository Seneca-CDOT/Osteppy: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{json,css,scss,html,md}": ["prettier --write"],
  "*.{js,ts}": ["eslint --fix"]
}

fix: body-parser urlencoded not extended
  src/body_parser.middleware.ts
Due: eslint --fix

fix: remove unused comment
  src/authentication.guard.ts
Due: eslint --fix

fix: improve comments
  src/authentication.guard.ts
  src/dev/dev.service.ts
Due: eslint --fix

fix: rename user module for consistency
  src/app.module.ts
  src/user/dto/create-user.dto.ts
  src/user/schemas/user.schema.ts
  src/user/user.service.ts
Due: eslint --fix

feat: init EOD module
  src/eod/eod.controller.ts
  src/eod/eod.module.ts
  src/eod/eod.service.ts
Due: eslint --fix

feat:explicitly convert rawBody instead of using middle-ware
  package-lock.json
  package.json
  src/app.module.ts
  src/authentication.guard.ts
  src/body_parser.middleware.ts
  src/dev/dev.service.ts
  src/dto/slack_request.dto.ts
  src/main.ts
Due: prettier --write, eslint --fix

fix: eslint unused vars
  src/eod/eod.controller.ts
  src/eod/eod.service.ts
Due: eslint --fix

feat: add user routes with basic CRUD
  src/app.module.ts
  src/user/schemas/user.schema.ts
  src/user/user.controller.ts
  src/user/user.module.ts
  src/user/user.service.ts
Due: eslint --fix

feat: allow route find-one to use raw userId
  src/user/user.controller.ts
Due: eslint --fix

feat: use dotenv instead of NestJS config module
  package-lock.json
  package.json
  src/app.module.ts
  src/authentication.guard.ts
  src/configuration.ts
  src/main.ts
Due: prettier --write, eslint --fix

fix: mongodb not work without authentication info
  src/app.module.ts
Due: eslint --fix

fix: mongodb not work when auth info is empty
  src/configuration.ts
Due: eslint --fix

fix: remove unused NestJS ConfigurationModule
  src/app.module.ts
Due: eslint --fix

fix: typo use_name -> user_name
  src/dto/slack_request.dto.ts
Due: eslint --fix

fix: typo variable UserModel -> userModel
  src/user/user.service.ts
Due: eslint --fix

feat: add eod/get-current-or-submit route
  src/app.module.ts
  src/dto/create_slack_response_dto.ts
  src/dto/slack_block_divider.dto.ts
  src/dto/slack_block_section.dto.ts
  src/dto/slack_request.dto.ts
  src/dto/slack_response.dto.ts
  src/dto/slack_text_object.dto.ts
  src/eod/eod.controller.ts
  src/eod/eod.module.ts
  src/eod/eod.service.ts
  src/user/schemas/user.schema.ts
  src/user/user.service.ts
Due: eslint --fix

feat: use delayed response instead to handle slack request
  src/dto/create_slack_response_dto.ts
  src/dto/slack_block_section.dto.ts
  src/dto/slack_response.dto.ts
  src/dto/slack_text_object.dto.ts
  src/eod/eod.module.ts
  src/eod/eod.service.ts
  src/user/schemas/user.schema.ts
Due: eslint --fix

feat: add scheduler to save EODs of the day
  .eslintrc.json
  package-lock.json
  package.json
  src/eod/eod.service.ts
Due: prettier --write, eslint --fix

feat: add EOD formatter
  src/eod/eod.controller.ts
  src/eod/eod.service.ts
Due: eslint --fix

feat: add command help for /eod
  src/eod/eod.controller.ts
  src/eod/eod.service.ts
Due: eslint --fix

fix: eod wrong formatted when raw text not having emoji or line break
  src/eod/eod.service.ts
Due: eslint --fix

fix: undefined username and wrong order when logging archiving EODs
  src/eod/eod.service.ts
Due: eslint --fix

fix: improve EOD help text
  src/eod/eod.service.ts
Due: eslint --fix

feat: change EOD default icon to :clock5:
  src/eod/eod.service.ts
Due: eslint --fix

fix: missing environment variables in production docker-compose file
  production.yml
Due: none

feat: add time zone for containers
  docker-compose.yml
  env.example
  production.yml
Due: none

fix: wrong EOD format when emoji contains line break
  src/eod/eod.service.ts
Due: eslint --fix

feat: add auto delete EOD; switch to using Slack token for response
  env.example
  package-lock.json
  package.json
  src/configuration.ts
  src/dto/slack_request.dto.ts
  src/eod/eod.module.ts
  src/eod/eod.service.ts
  src/slack/slack.module.ts
  src/slack/slack.service.ts
  src/user/schemas/user.schema.ts
Due: prettier --write, eslint --fix

refactor: test for dashboard
  README.md
Due: prettier --write

feat: mongo port to local only when in development mode
  development.yml
Due: none

fix: nest.js watch mode includes database
  tsconfig.json
Due: prettier --write

refactor: separate users endpoint
  src/app.module.ts
  src/main.ts
  src/user/dto/create-user.dto.ts
  src/user/schemas/user.schema.ts
  src/user/user.controller.ts
  src/user/user.service.ts
  src/users/dto/create_user.dto.ts
  src/users/dto/update_user.dto.ts
  src/users/schemas/eod.schema.ts
  src/users/schemas/user.schema.ts
  src/users/users.controller.ts
  src/users/users.module.ts
  src/users/users.service.ts
Due: eslint --fix

feat: merge create and update user endpoints
  src/users/dto/create_or_update_user.dto.ts
  src/users/dto/create_user.dto.ts
  src/users/dto/update_user.dto.ts
  src/users/schemas/user.schema.ts
  src/users/users.controller.ts
  src/users/users.service.ts
  test/users/users.service.ts
Due: eslint --fix

test: add UserController tests
  package-lock.json
  package.json
  src/app.module.ts
  src/database/database.module.ts
  src/database/mock_database_testing.module.ts
  src/users/users.controller.spec.ts
Due: prettier --write, eslint --fix

refactor: change test for UsersController -> UsersService
  src/users/users.service.spec.ts
Due: eslint --fix

feat: add EOD methods in UsersService
  package.json
  src/users/dto/create_or_update_user.dto.ts
  src/users/eods.service.ts
  src/users/schemas/eod.schema.ts
  src/users/schemas/user.schema.ts
  src/users/users.controller.ts
  src/users/users.service.spec.ts
  src/users/users.service.ts
Due: prettier --write, eslint --fix

refactor: separate EOD methods from UsersService
  src/users/user_eods.service.spec.ts
  src/users/user_eods.service.ts
  src/users/users.controller.ts
  src/users/users.module.ts
  src/users/users.service.spec.ts
  src/users/users.service.ts
Due: eslint --fix

chore: update nestjs & mongoose
  package-lock.json
  package.json
Due: prettier --write

refactor: use mongoose document instead of pojo
  src/helpers/assign_defined.ts
  src/helpers/mongoose_document.d.ts
  src/users/eods.service.ts
  src/users/schemas/eod.schema.ts
  src/users/schemas/user.schema.ts
  src/users/user_eods.service.spec.ts
  src/users/user_eods.service.ts
  src/users/users.service.spec.ts
  src/users/users.service.ts
Due: eslint --fix

chore: update typescript & remove deprecated @types/mongoose
  package-lock.json
  package.json
Due: prettier --write
